mat-card{
	margin-bottom: 1px;
}

.button-spacer {
	margin-left: 10px;
}

.book-item{
	margin-top: 10px;
}

.signature{
	width: 80px;
	display: inline-block;
}

.available-on{
	width: 160px;
	display: inline-block;
}