.input-button {
	width: 60%;
}

mat-form-field {
	width: 500px;
}

.isbn-field {
	width: 400px;
}

.cover-picture-field {
	width: 280px;
}

.form-wrapper {
	width: 500px;
	margin: auto;
}

.button-spacer {
	margin-left: 10px;
}

.buttons-row {
	margin-top: 10px;
}

.filter-paginator-wrapper {
	display: flex;
	justify-content: space-between;
}

.paginator {

}

.filter mat-form-field {
	width: 150px;
}

.thumbnail {
	max-height: 80px;
}

.upload-button {
	display: inline-block;
	width: 200px;
}

mat-spinner {
	display: inline-block;
}

.st-available {
	background-color: rgba(40, 167, 69, 0.7);
}

.st-borrowed {
	background-color: rgba(255, 193, 7, 0.7);
}

.st-reserved {
	background-color: rgba(220, 53, 69, 0.7);
}

.st-unknown {
	background-color: rgba(108, 117, 125, 0.7);
}

.selected-book-wrapper{
	margin-bottom: 10px;
}