@import '../nokia-theme.scss';
@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}


.mat-icon {
  font-family: 'Material Icons';
}

.main-content-light {
  min-height: calc(100vh - 64px);
  width: 70%;
  max-width: 75%;
  background: white;
  margin: auto;
}

.main-content-dark {
  min-height: calc(100vh - 64px);
  width: 70%;
  max-width: 75%;
  background: #303030;
  margin: auto;
}

.navbar {
  height: 64px;
}

::ng-deep .mat-sidenav-container {
  min-height: calc(100vh - 64px) !important; /* or 100% */
}

.sidenav-menu {
  background-color: #ffffff;
  width: 223px;
}

.sidenav-button-close {
  position: relative;
  top: 14px;
  left: 50px;
}

.content-sides-light {
  background: #d1eaff;
}

.content-sides-dark {
  background: black;
}

.footer {
  left: 0;
  bottom: 0;
  padding: 0;
  height: 45px;
  width: 100%;
  background-color: #124191;
  color: white;
  text-align: center;
}

.site {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.innovative-projects {
  width: 180px;
  position: fixed;
  bottom: 1rem;
  right: 2rem;
}

::ng-deep .snackbar-success {
  font-size: 20px;
  background: #c3d707;
  color: black;
}

::ng-deep .snackbar-success .mat-simple-snackbar-action {
  font-size: 20px;
  color: black !important;
}

::ng-deep .snackbar-error {
  font-size: 20px;
  background: #9b1249;
  color: white;
}

::ng-deep .snackbar-error .mat-simple-snackbar-action {
  font-size: 20px;
  color: white !important;
}