* {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

.mat-icon {
	font-family: 'Material Icons';
}

.main-content {
	height: calc(100vh - 63px);
	width: 70%;
	max-width: 70%;
	background: white;
	margin: auto;
}

.navbar {
	height: 63px;
}

::ng-deep .mat-sidenav-container {
	height: calc(100vh - 63px) !important; /* or 100% */
}

.sidenav-menu {
	background-color: #ffffff;
	width: 223px;
}

.sidenav-button-close {
	position: relative;
	top: 14px;
	left: 50px;
}

.content-all {
	background: #d1eaff;
	height: calc(100vh - 50px);
}

.footer {
	left: 0;
	bottom: 0;
	height: 50px;
	width: 100%;
	background-color: #124191;
	color: white;
	text-align: center;
}
