<app-navbar class="navbar"></app-navbar>
<mat-sidenav-container class="content-all">
	<mat-sidenav class="sidenav-menu" #sidenav (keydown.escape)="close()">

		<mat-list >
			<mat-list-item>
				 <h2>Options:</h2>
			</mat-list-item>
			<mat-list-item>
				<button (click)="sidenav.toggle()" color="primary" mat-raised-button routerLink="/homepage" routerLinkActive="active">Homepage</button>
			</mat-list-item>
			<mat-list-item>
				<button (click)="sidenav.toggle()" color="primary" mat-raised-button routerLink="/manage-entities" routerLinkActive="active">Manage entities</button>
			</mat-list-item>
		</mat-list>
	</mat-sidenav>


	<mat-sidenav-content>
		<button class="sidenav-button" mat-raised-button color="primary" (click)="sidenav.open()">Menu panel</button>
		<div class="main-content center-content">
			<router-outlet></router-outlet>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>
