.wrapper {
	border: 1px solid black;
}

.book-cover {
	float: left;
	width: 20%;
}

.text-area {
	float: left;
	width: 80%;
}

.box-borders {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.clearfix:after {
	content: " ";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

img {
	max-height: 200px;
}

table {
	width: 100%;
}

.list-container{
	min-height: 90%;
}