.filter-paginator-wrapper {
  display: flex;
  justify-content: space-between;
}

table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}

th {
  font-size: 18px;
  font-weight: bold;
}

th, tr, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.table-container {
  position: relative;
  min-height: 50px;
}

.full-card {
  width: 100%;
  height: calc(100vh - 64spx);
  box-sizing: border-box;
}

.form-container {
  margin: 10px auto;
  position: relative;
  text-align: center;
}

.filter mat-form-field {
  width: 150px;
}

.mat-cell {
  text-align: center;
}

.mat-header-cell {
  text-align: center;
}

::ng-deep .mat-tab-label-active {
  font-weight: bold;
  background-color: #124191;
  color: white;
}

::ng-deep .mat-header-cell .mat-sort-header-container {
  justify-content: center;
}

.st-available {
  color: white;
  background-color: rgba(40, 167, 69, 0.7);
}

.st-awaiting {
  color: black;
  background-color: rgba(255, 193, 7, 0.7);
}

.st-borrowed {
  color: white;
  background-color: rgba(0, 123, 255, 0.7);
}

.st-reserved {
  color: white;
  background-color: rgba(220, 53, 69, 0.7);
}

.st-unavailable {
  color: white;
  background-color: rgba(108, 117, 125, 0.7);
}
