<div *ngIf="role_employee">
	<h1>User panel</h1>
	<mat-tab-group mat-stretch-tabs class="full-card">
		<mat-tab label="Borrowed books">
			<ng-template matTabContent>
				<app-books-borrowed></app-books-borrowed>
			</ng-template>
		</mat-tab>
		<mat-tab label="Reserved books">
			<ng-template matTabContent>
				<app-books-reserved></app-books-reserved>
			</ng-template>
		</mat-tab>
		<mat-tab label="New books requests">
			<ng-template matTabContent>
				<app-books-requested></app-books-requested>
			</ng-template>
		</mat-tab>
		<mat-tab label="History of borrowings">
			<ng-template matTabContent>
				<app-books-history></app-books-history>
			</ng-template>
		</mat-tab>
	</mat-tab-group>
</div>
<div *ngIf="!role_employee">
	<app-access-denied></app-access-denied>
</div>
