

.full-card {
  width: 100%;
  height: calc(100vh - 64spx);
  box-sizing: border-box;
}

.form-container {
  margin: 10px auto;
  position: relative;
  text-align: center;
}

table {
  width: 100%;
  border: 1px solid black;
}

th {
  font-size: 18px;
  font-weight: bold;
}
.mat-cell {
  text-align: center;
}

.mat-header-cell {
  text-align: center;
}
::ng-deep .mat-tab-label-active {
  font-weight: bold;
  background-color: #124191;
  color: white;
}

::ng-deep .mat-header-cell .mat-sort-header-container {
  justify-content: center;
}

.st-available {
  color: white;
  background-color: rgba(40, 167, 69, 0.7);
}

.st-awaiting {
  color: black;
  background-color: rgba(255, 193, 7, 0.7);
}

.st-borrowed {
  color: white;
  background-color: rgba(0, 123, 255, 0.7);
}

.st-reserved {
  color: white;
  background-color: rgba(220, 53, 69, 0.7);
}

.st-unavailable {
  color: white;
  background-color: rgba(108, 117, 125, 0.7);
}

.filter-paginator-wrapper {
  display: flex;
  justify-content: space-between;
}

.filter mat-form-field {
  width: 150px;
}

  position: relative;
  min-height: 50px;
}

.loading-shade {
  //position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

.nothing-found {
  margin-top: 10px;
  text-align: center;
  font-size: 25px;
}