.nav-link {
  display: block;
  //display: flex;
  padding: 1rem;
  //text-decoration: none;
  font-size: 20px;
  align-items: center;
}

.search-bar-wrapper {
  position: absolute;
  left: 50%;
}

.search-bar {
  position: relative;
  left: -50%;
}

.search-bar-field {
  width: 400px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.contact-us-button {
  margin-right: 50px;
}

span {
  font-size: 20px;
}
