<h1>History of borrowings</h1>
<table >
	<tr>
		<th>Title</th>
		<th>Signature</th>
		<th>ISBN</th>
		<th>Borrowed</th>
		<th>Returned</th>
		<th>Status</th>
	</tr>
	<tr>
		<td>Harry Potter and the Sorcerer's Stone</td>
		<td>BNM48AFG</td>
		<td>56476329</td>
		<td>03.07.2017</td>
		<td>08.08.2017</td>
		<td>AVAILABLE</td>
	</tr>
	<tr>
		<td>Harry Potter and the Sorcerer's Stone</td>
		<td>BNM48AFG</td>
		<td>56476329</td>
		<td>03.07.2017</td>
		<td>08.08.2017</td>
		<td>AVAILABLE</td>
	</tr>
	<tr>
		<td>Harry Potter and the Sorcerer's Stone</td>
		<td>BNM48AFG</td>
		<td>56476329</td>
		<td>03.07.2017</td>
		<td>08.08.2017</td>
		<td>AVAILABLE</td>
	</tr>
	<tr>
		<td>Harry Potter and the Sorcerer's Stone</td>
		<td>BNM48AFG</td>
		<td>56476329</td>
		<td>03.07.2017</td>
		<td>08.08.2017</td>
		<td>AVAILABLE</td>
	</tr>
	<tr>
		<td>Harry Potter and the Sorcerer's Stone</td>
		<td>BNM48AFG</td>
		<td>56476329</td>
		<td>03.07.2017</td>
		<td>08.08.2017</td>
		<td>AVAILABLE</td>
	</tr>
</table>