<div *ngIf="role_admin">
  <h1>Manage books, authors and categories</h1>

  <mat-tab-group id="admin-panel-tabs" mat-stretch-tabs class="full-card">
    <mat-tab label="Book details">
      <app-manage-book-details></app-manage-book-details>
    </mat-tab>

    <mat-tab label="Book copies">
      <app-manage-books></app-manage-books>
    </mat-tab>
    <mat-tab label="Authors and categories">
      <div class="forms-container">
        <div class="half-div">
          <app-manage-authors></app-manage-authors>
        </div>
        <div class="half-div">
          <app-manage-categories></app-manage-categories>
        </div>
      </div>
    </mat-tab>

  </mat-tab-group>
</div>
<div *ngIf="!role_admin">
  <app-page-not-found></app-page-not-found>
</div>
