<div *ngIf="role_admin">
	<h1>Admin panel</h1>
	<mat-tab-group id="admin-panel-tabs" mat-stretch-tabs class="full-card">
		<mat-tab label="Book details">
			<app-manage-book-details></app-manage-book-details>
		</mat-tab>

		<mat-tab label="Book copies">
			<ng-template matTabContent>
				<app-manage-books></app-manage-books>
			</ng-template>
		</mat-tab>
		<mat-tab label="Authors and categories">
			<ng-template matTabContent>
				<div class="forms-container">
					<div class="half-div">
						<app-manage-authors></app-manage-authors>
					</div>
					<div class="half-div">
						<app-manage-categories></app-manage-categories>
					</div>
				</div>
			</ng-template>
		</mat-tab>
		<mat-tab label="Awaiting books">
			<app-manage-handovers></app-manage-handovers>
		</mat-tab>
		<mat-tab label="Return a book">
			<ng-template matTabContent>
				<app-manage-returns></app-manage-returns>
			</ng-template>
		</mat-tab>
		<mat-tab label="New books requests">
			<app-manage-requests></app-manage-requests>
		</mat-tab>
		<mat-tab label="Admins and users">
			<ng-template matTabContent>
				<app-manage-users></app-manage-users>
			</ng-template>
		</mat-tab>
	</mat-tab-group>
</div>
<div *ngIf="!role_admin">
	<app-access-denied></app-access-denied>
</div>
