<h1>Reserved books</h1>
<table >
	<tr>
		<th>Title</th>
		<th>Signature</th>
		<th>ISBN</th>
		<th>Status</th>
	</tr>
	<tr>
		<td>Harry Potter and the Sorcerer's Stone</td>
		<td>BNM48AFG</td>
		<td>56476329</td>
		<td>AVAILABLE</td>
	</tr>
	<tr>
		<td>Harry Potter and the Sorcerer's Stone</td>
		<td>BNM48AFG</td>
		<td>56476329</td>
		<td>AVAILABLE</td>
	</tr>
	<tr>
		<td>Harry Potter and the Sorcerer's Stone</td>
		<td>BNM48AFG</td>
		<td>56476329</td>
		<td>AVAILABLE</td>
	</tr>
	<tr>
		<td>Harry Potter and the Sorcerer's Stone</td>
		<td>BNM48AFG</td>
		<td>56476329</td>
		<td>AVAILABLE</td>
	</tr>
	<tr>
		<td>Harry Potter and the Sorcerer's Stone</td>
		<td>BNM48AFG</td>
		<td>56476329</td>
		<td>AVAILABLE</td>
	</tr>
</table>