<mat-toolbar color="primary">
	<mat-toolbar-row>
		<img class="nav-link white" src="../../../assets/images/nokia-logo.png">
		<a class="nav-link white">Nokia library</a>
		<a class="nav-link white cursor-pointer"  [matMenuTriggerFor]="menu">components</a>
		<mat-menu #menu="matMenu" [overlapTrigger]="false">
			<a mat-menu-item routerLink="/homepage" routerLinkActive="active">homepage</a>
			<a mat-menu-item routerLink="/listview" routerLinkActive="active">list view</a>
		</mat-menu>
	</mat-toolbar-row>
</mat-toolbar>
