.white {
	color: white;
}

.nav-link {
	line-height: 48px;
	display: block;
	padding: .5rem 1rem;
}



.search-bar-wrapper {
	position: absolute;
	left: 50%;
}

.search-bar {
	position: relative;
	left: -50%;
}

.search-bar-field {
	width: 500px;
}

.toolbar-spacer {
	flex: 1 1 auto;
}

.contact-us-button {
	margin-right: 20px;
}