<mat-card class="form-wrapper">
	<div class="form-title">
		<h1>Book details</h1>
	</div>
	<form name="bookDetailsParams" (ngSubmit)="createBookDetails(bookDetailsParams)" [formGroup]="bookDetailsParams">
		<div class="form-container">
			<mat-form-field class="isbn-field">
				<input formControlName="isbn"
					   placeholder="ISBN number"
					   matInput required>
				<mat-error *ngIf="bookDetailsParams.controls.isbn.hasError">
					<div *ngIf="bookDetailsParams.controls.isbn.errors?.required">
						Isbn number is required
					</div>
					<div *ngIf="bookDetailsParams.controls.isbn.errors?.maxlength">The maximum length is 13 characters</div>
					<div *ngIf="bookDetailsParams.controls.isbn.errors?.minlength">The minimum length is 10 characters</div>
				</mat-error>
			</mat-form-field>
			<button mat-raised-button color="accent" type="button" (click)="getInfoFromAPI()">Get details</button>

			<mat-form-field>
				<input formControlName="title"
					   placeholder="Title"
					   matInput required>
				<mat-error *ngIf="bookDetailsParams.controls.title.hasError">
					<div *ngIf="bookDetailsParams.controls.title.errors?.required">Title is required</div>
					<div *ngIf="bookDetailsParams.controls.title.errors?.maxlength">The maximum length is 100 characters</div>
				</mat-error>
			</mat-form-field>

			<mat-form-field>
				<mat-chip-list #chipListAuthors minlength="1">
					<mat-chip
						*ngFor="let author of selectedAuthors"
						[selectable]="selectable"
						[removable]="removable"
						(removed)="removeAth(author)">
						{{(author)}}
						<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
					</mat-chip>
					<input
						placeholder="Authors"
						#authorInput
						[formControl]="authorsFormControl"
						[matAutocomplete]="autoAth"
						[matChipInputFor]="chipListAuthors"
						[matChipInputAddOnBlur]="'true'"
						(matChipInputTokenEnd)="addAth($event)">
				</mat-chip-list>
				<mat-autocomplete #autoAth="matAutocomplete" [autoActiveFirstOption]="true" (optionSelected)="selectedAth($event)">
					<mat-option *ngFor="let author of filteredAuthors | async" [value]="author">
						{{(author)}}
					</mat-option>
				</mat-autocomplete>
			</mat-form-field>

			<mat-form-field class="example-chip-list">
				<mat-chip-list #chipListCategories minlength="1">
					<mat-chip
						*ngFor="let cat of selectedCategories"
						[selectable]="selectable"
						[removable]="removable"
						(removed)="removeCat(cat)">
						{{cat}}
						<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
					</mat-chip>
					<input
						placeholder="Category"
						#categoryInput
						[formControl]="categoriesFormControl"
						[matAutocomplete]="autoCat"
						[matChipInputFor]="chipListCategories"
						[matChipInputAddOnBlur]="addOnBlur"
						(matChipInputTokenEnd)="addCat($event)">
				</mat-chip-list>
				<mat-autocomplete #autoCat="matAutocomplete" [autoActiveFirstOption]="true" (optionSelected)="selectedCat($event)">
					<mat-option *ngFor="let cat of filteredCategories | async" [value]="cat">
						{{cat}}
					</mat-option>
				</mat-autocomplete>
			</mat-form-field>


			<mat-form-field>
				<input formControlName="publicationDate"
					   [matDatepicker]="myDatepicker"
					   [max]="maxDate"
					   placeholder="Publication date"
					   matInput required>
				<mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
				<mat-datepicker startView="multi-year" #myDatepicker></mat-datepicker>

				<mat-error *ngIf="bookDetailsParams.controls.publicationDate.hasError">
					<div *ngIf="bookDetailsParams.controls.publicationDate.errors?.required">Publication date is required</div>
				</mat-error>
			</mat-form-field>

			<mat-form-field class="cover-picture-field">
				<input formControlName="coverPictureUrl"
					   placeholder="Cover picture URL"
					   matInput>
				<mat-error *ngIf="bookDetailsParams.controls.coverPictureUrl.hasError">
					<div *ngIf="bookDetailsParams.controls.coverPictureUrl.errors?.maxlength">The maximum length is 1000 characters</div>
				</mat-error>
			</mat-form-field>
			<mat-spinner class="spinner-placement" *ngIf="uploadingFile == true" color="primary" [diameter]="20"></mat-spinner>
			<input class="upload-button" type="file" (change)="uploadFile($event)"/>



			<mat-form-field>
			<input formControlName="tableOfContents"
			placeholder="Table of contents"
			matInput>
			<mat-error *ngIf="bookDetailsParams.controls.tableOfContents.hasError">
			<div *ngIf="bookDetailsParams.controls.tableOfContents.errors?.maxlength">The maximum length is 100 characters</div>
			</mat-error>
			</mat-form-field>

			<mat-form-field>
              <textarea formControlName="description"
						placeholder="Book description"
						matInput>
              </textarea>
				<mat-error *ngIf="bookDetailsParams.controls.description.hasError">
					<div *ngIf="bookDetailsParams.controls.description.errors?.maxlength">The maximum length is 1000 characters</div>
				</mat-error>
			</mat-form-field>

		</div>

		<div class="buttons-row form-title">
			<button mat-raised-button color="primary" type="submit" [disabled]="!bookDetailsParams.valid || selectedAuthors.length === 0 || selectedCategories.length === 0">
				Submit
			</button>
			<button class="button-spacer" mat-raised-button color="warn" type="button" (click)="clearForm()">
				Clear
			</button>
		</div>
	</form>
</mat-card>
<div>
	<div class="filter-paginator-wrapper">
		<div class="filter">
			<mat-form-field>
				<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
			</mat-form-field>
		</div>
		<div class="paginator">
			<mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
		</div>
	</div>
	<table mat-table [dataSource]="dataSource">

		<ng-container matColumnDef="title">
			<th mat-header-cell *matHeaderCellDef> Title</th>
			<td mat-cell *matCellDef="let bookDetails">{{bookDetails.title}}</td>
		</ng-container>

		<ng-container matColumnDef="authors">
			<th mat-header-cell *matHeaderCellDef>Authors</th>
			<td mat-cell *matCellDef="let bookDetails">{{bookDetails.authors | arrToStr:'author'}}</td>
		</ng-container>

		<ng-container matColumnDef="categories">
			<th mat-header-cell *matHeaderCellDef>Categories</th>
			<td mat-cell *matCellDef="let bookDetails">{{bookDetails.categories | arrToStr:'category'}}</td>
		</ng-container>

		<ng-container matColumnDef="description">
			<th mat-header-cell *matHeaderCellDef>Description</th>
			<td mat-cell *matCellDef="let bookDetails">{{bookDetails.description | limitTo: 50}}</td>
		</ng-container>

		<ng-container matColumnDef="coverURL">
			<th mat-header-cell *matHeaderCellDef>Cover picture</th>
			<td mat-cell *matCellDef="let bookDetails">
				<div>
					<img class="thumbnail" src="{{bookDetails.coverPictureUrl}}">
				</div>
			</td>
		</ng-container>

		<ng-container matColumnDef="isbn">
			<th mat-header-cell *matHeaderCellDef>ISBN</th>
			<td mat-cell *matCellDef="let bookDetails">{{bookDetails.isbn}}</td>
		</ng-container>

		<ng-container matColumnDef="publicationDate">
			<th mat-header-cell *matHeaderCellDef>Publication date</th>
			<td mat-cell *matCellDef="let bookDetails">{{bookDetails.publicationDate | date: 'dd/MM/yyyy'}}</td>
		</ng-container>

		<ng-container matColumnDef="actions">
			<th mat-header-cell *matHeaderCellDef>Actions</th>
			<td mat-cell *matCellDef="let bookDetails">
				<p>
					<button color="primary" mat-button (click)="editBookDetails(bookDetails)">
						<mat-icon>edit</mat-icon>
						Edit
					</button>
					<button color="warn" mat-button (click)="removeBookDetails(bookDetails.id)">
						<mat-icon>cancel</mat-icon>
						Remove
					</button>
				</p>

			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedBookDetailColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedBookDetailColumns"></tr>

	</table>

</div>