<mat-card class="form-wrapper">
	<div class="form-title">
		<h1>Book details</h1>
	</div>
	<form name="bookDetailsParams" (ngSubmit)="createBookDetails(bookDetailsParams)" [formGroup]="bookDetailsParams">
		<div class="form-container">
			<mat-form-field class="isbn-field">
				<input formControlName="isbn"
					   placeholder="ISBN number"
					   matInput required>
				<mat-error *ngIf="bookDetailsParams.controls.isbn.hasError">
					<div *ngIf="bookDetailsParams.controls.isbn.errors?.required">
						Isbn number is required
					</div>
					<div *ngIf="bookDetailsParams.controls.isbn.errors?.maxlength">The maximum length is 13 characters</div>
					<div *ngIf="bookDetailsParams.controls.isbn.errors?.minlength">The minimum length is 10 characters</div>
				</mat-error>
			</mat-form-field>
			<button mat-raised-button color="accent" type="button" (click)="getInfoFromAPI()">Get details</button>

			<mat-form-field>
				<input formControlName="title"
					   placeholder="Title"
					   matInput>
				<mat-error *ngIf="bookDetailsParams.controls.title.hasError">
					<div *ngIf="bookDetailsParams.controls.title.errors?.required">Title is required</div>
					<div *ngIf="bookDetailsParams.controls.title.errors?.maxlength">The maximum length is 100 characters</div>
				</mat-error>
			</mat-form-field>

			<mat-form-field>
				<mat-chip-list #chipList minlength="1">
					<mat-chip
						*ngFor="let author of selectedAuthors; let i of index;"
						[selectable]="selectable"
						[removable]="removable"
						(removed)="remove(author, i)">
						{{author.toString()}}
						<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
					</mat-chip>
					<input
						placeholder="Authors"
						#authorInput
						[formControl]="authorCtrl"
						[matAutocomplete]="auto"
						[matChipInputFor]="chipList"
						[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
						[matChipInputAddOnBlur]="addOnBlur"
						(matChipInputTokenEnd)="add($event)">
				</mat-chip-list>
				<mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
					<mat-option *ngFor="let author of filteredAuthors | async" [value]="author">
						{{(author.authorName + " " + author.authorSurname)}}
					</mat-option>
				</mat-autocomplete>
			</mat-form-field>

			<mat-form-field>
				<mat-select placeholder="Categories" [(ngModel)]="selectedCategories" [formControl]="categoryForm" multiple required>
					<mat-option *ngFor="let category of bookCategories" [value]="category">{{category.bookCategoryName}}</mat-option>
				</mat-select>
				<mat-error>At least one category is required</mat-error>
			</mat-form-field>

			<mat-form-field>
				<input formControlName="tableOfContents"
					   placeholder="Table of contents"
					   matInput>
				<mat-error *ngIf="bookDetailsParams.controls.tableOfContents.hasError">
					<div *ngIf="bookDetailsParams.controls.tableOfContents.errors?.maxlength">The maximum length is 100 characters</div>
				</mat-error>
			</mat-form-field>

			<mat-form-field>
				<input formControlName="dateOfPublication"
					   [max]="maxDate"
					   [matDatepicker]="myDatepicker"
					   placeholder="Publication date"
					   disabled
					   matInput required>
				<mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
				<mat-datepicker startView="multi-year" #myDatepicker disabled="false"></mat-datepicker>

				<mat-error *ngIf="bookDetailsParams.controls.dateOfPublication.hasError">
					<div *ngIf="bookDetailsParams.controls.dateOfPublication.errors?.required">Publication date is required</div>
				</mat-error>

			</mat-form-field>

			<mat-form-field>
				<input formControlName="coverPictureUrl"
					   placeholder="Cover picture URL"
					   matInput>
				<mat-error *ngIf="bookDetailsParams.controls.coverPictureUrl.hasError">
					<div *ngIf="bookDetailsParams.controls.coverPictureUrl.errors?.maxlength">The maximum length is 1000 characters</div>
				</mat-error>
			</mat-form-field>

			<mat-form-field>
              <textarea formControlName="description"
						placeholder="Book description"
						matInput>
              </textarea>
				<mat-error *ngIf="bookDetailsParams.controls.coverPictureUrl.hasError">
					<div *ngIf="bookDetailsParams.controls.coverPictureUrl.errors?.maxlength">The maximum length is 1000 characters</div>
				</mat-error>
			</mat-form-field>

		</div>

		<div class="form-title">
			<button mat-raised-button color="primary" [type]="submit">
				Submit
			</button>

			<button class="demo-button" mat-raised-button color="accent" type="button" (click)="autoFillBookDetailsForm()">
				Demo
			</button>
		</div>
	</form>
</mat-card>
<div>
	<mat-form-field>
		<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
	</mat-form-field>
	<table mat-table [dataSource]="dataSource">

		<ng-container matColumnDef="title">
			<th mat-header-cell *matHeaderCellDef> Title</th>
			<td mat-cell *matCellDef="let bookDetails">{{bookDetails.title}}</td>
		</ng-container>

		<ng-container matColumnDef="authors">
			<th mat-header-cell *matHeaderCellDef>Authors</th>
			<td mat-cell *matCellDef="let bookDetails">{{bookDetails.authors | arrToStr:'author'}}</td>
		</ng-container>

		<ng-container matColumnDef="categories">
			<th mat-header-cell *matHeaderCellDef>Categories</th>
			<td mat-cell *matCellDef="let bookDetails">{{bookDetails.categories | arrToStr:'category'}}</td>
		</ng-container>

		<ng-container matColumnDef="coverURL">
			<th mat-header-cell *matHeaderCellDef>Cover picture</th>
			<td mat-cell *matCellDef="let bookDetails">thumbnail</td>
		</ng-container>

		<ng-container matColumnDef="isbn">
			<th mat-header-cell *matHeaderCellDef>ISBN</th>
			<td mat-cell *matCellDef="let bookDetails">{{bookDetails.isbn}}</td>
		</ng-container>

		<ng-container matColumnDef="dateOfPublication">
			<th mat-header-cell *matHeaderCellDef>Publication date</th>
			<td mat-cell *matCellDef="let bookDetails">{{bookDetails.dateOfPublication | date: 'yyyy'}}</td>
		</ng-container>

		<ng-container matColumnDef="actions">
			<th mat-header-cell *matHeaderCellDef>Actions</th>
			<td mat-cell *matCellDef="let bookDetails">
				<p>
					<button mat-button (click)="editBookDetails(bookDetails)">
						<mat-icon>edit</mat-icon>
						Edit
					</button>
					<button mat-button (click)="removeBookDetails(bookDetails.id)">
						<mat-icon>cancel</mat-icon>
						Remove
					</button>
				</p>

			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedBookDetailColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedBookDetailColumns"></tr>

	</table>

</div>