<!--<div class="container">-->
<!--<form class="needs-validation" class="form-signin" (ngSubmit)="loginButtonClick(loginParam)" [formGroup]="loginParams">-->
<!--<h2 class="form-signin-heading">Please sign in</h2>-->
<!--<p>-->
<!--<label for="username" class="sr-only">Username</label>-->
<!--<input type="text" id="username" name="username" class="form-control" placeholder="Username"-->
<!--required autofocus formControlName="email">-->
<!--</p>-->
<!--<p>-->
<!--<label for="password" class="sr-only">Password</label>-->
<!--<input type="password" id="password" name="password" class="form-control" placeholder="Password"-->
<!--required formControlName="password">-->
<!--</p>-->
<!--<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>-->
<!--</form>-->
<!--</div>-->


<mat-card class="form-wrapper">
	<div class="form-title">
		<h1>Sign in</h1>
	</div>
	<form name="bookDetailsParams" (ngSubmit)="loginButtonClick(loginParams)" [formGroup]="loginParams">
		<div class="form-container">
      <div class="alert alert-danger" [hidden]="error">
        There was a problem logging in. Please try again.
      </div>
			<mat-form-field>
				<input formControlName="email"
					   placeholder="Email"
					   matInput required>
				<mat-error *ngIf="loginParams.controls['email'].hasError">
					<div *ngIf="loginParams.controls['email'].errors?.required">
						Email number is required
					</div>
				</mat-error>
			</mat-form-field>

			<mat-form-field>
				<input formControlName="password"
					   placeholder="Password"
					   matInput required
					   type="password">
				<mat-error *ngIf="loginParams.controls['email'].hasError">
					<div *ngIf="loginParams.controls['email'].errors?.required">
						Password number is required
					</div>
				</mat-error>
			</mat-form-field>
		</div>

		<div class="form-title">
			<button color="primary" mat-raised-button type="submit" [disabled]="!loginParams.valid">
				Sign in
			</button>
		</div>
	</form>
</mat-card>
