img {
	max-height: 300px;
	border: 1px solid #124191;
}

.wrapper {
	display: flex;
}

.cover-wrapper {
	margin-bottom: 10px;
}

.info-box-wrapper {
	max-width: 600px;
	margin-left: 10px;
}

mat-card {
	margin-bottom: 1px;
}

.not-available {
	color: #9b1249;
	font-size: 20px;
}
