table {
	width: 100%;
}

.input-button {
	width: 60%;
}

mat-form-field {
	width: 500px;
}

.isbn-field {
	width: 400px;
}

.form-wrapper {
	width: 500px;
	margin: auto;
}

.demo-button {
	margin-left: 10px;
}

.form-title {
	text-align: center;
}

.mat-cell {
	text-align: center;
	border-right: 1px solid black;
}

.mat-header-cell {
	text-align: center;
}