table {
	width: 100%;
	border: 1px solid black;
	border-collapse: collapse;
}

th {
	font-size: 18px;
	font-weight: bold;
}

th, tr, td {
	border: 1px solid black;
	border-collapse: collapse;
}

mat-form-field {
	width: 300px;
}

.form-wrapper {
	width: 300px;
	margin: auto;
}

.button-spacer {
	margin-left: 10px;
}

.form-title {
	text-align: center;
}

.mat-header-cell {
	text-align: center;
}

.buttons-row{
	margin-top: 10px;
}