<mat-form-field class="search-field">
	<input #search matInput (keyup)="searchBooks($event.target.value)" type="text" placeholder="Search for a book" [(ngModel)]="value">
	<button mat-button matSuffix (click)="searchBooks(search.value)">
		<mat-icon>search</mat-icon>
	</button>
</mat-form-field>
<!--<mat-checkbox-->
	<!--class="example-margin"-->
	<!--[(ngModel)]="hideUnavailable"-->
	<!--(click)="searchBooks(search.value)">-->
	<!--Hide unavailable-->
<!--</mat-checkbox>-->
<div *ngFor="let book of books">
	<app-listview-item [bookDetails]="book"></app-listview-item>
</div>
<div *ngIf="listIsLoading">
	<mat-spinner></mat-spinner>
</div>
<div *ngIf="books.length < 1 && !!value">
	<div>Nothing found.</div>
</div>