<h1 style="color: red;">WORK IN PROGRESS</h1>
<p>
	Books that you currently have.
</p>
<div>
	<div class="filter-paginator-wrapper">
		<div class="filter">
			<mat-form-field>
				<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
			</mat-form-field>
		</div>
		<div class="paginator">
			<mat-paginator #paginatorCopies [pageSizeOptions]="[10, 20, 50]" [pageSize]="10" showFirstLastButtons></mat-paginator>
		</div>
	</div>
	<table mat-table [dataSource]="dataSource" matSort>

		<ng-container matColumnDef="bookTitle">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
			<td mat-cell *matCellDef="let borrowing">{{borrowing.book.bookDetails.title}}</td>
		</ng-container>
		<ng-container matColumnDef="rentalDate">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Rental date</th>
			<td mat-cell *matCellDef="let borrowing">{{borrowing.rentalDate| date:'dd.MM.yyyy'}}</td>
		</ng-container>
		<ng-container matColumnDef="returnDate">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Return date</th>
			<td mat-cell *matCellDef="let borrowing">{{borrowing.returnDate | date:'dd.MM.yyyy'}}</td>
		</ng-container>

		<ng-container matColumnDef="actions">
			<th mat-header-cell *matHeaderCellDef>Actions</th>
			<td mat-cell *matCellDef="let borrowing">
				<p>
					<button color="primary" mat-button (click)="bookInfo(borrowing)">
						<mat-icon>info</mat-icon>
						Book info
					</button>
					<button disabled color="primary" mat-button (click)="prolong(borrowing)">
						<mat-icon>forward_30</mat-icon>
						Prolong
					</button>
				</p>

			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

	</table>

</div>