<p>
	Books that you currently have or you need to pick up from library. If the book is awaiting, go to the corresponding admin to pick it up. If you are ready to return the book, go to any admin to return it.
</p>
<p>
	You can prolong the book for another month no earlier than 1 week before you are supposed to return the book.
</p>

<div>
	<div class="filter-paginator-wrapper">
		<div class="filter">
			<mat-form-field>
				<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
			</mat-form-field>
		</div>
		<div class="paginator">
			<mat-paginator #paginator [pageSizeOptions]="[10, 20, 50]" [pageSize]="10" showFirstLastButtons></mat-paginator>
		</div>
	</div>

	<div class="table-container">
		<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" multiTemplateDataRows>

			<ng-container matColumnDef="signature">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Signature</th>
				<td mat-cell *matCellDef="let rental">{{rental.book.signature}}</td>
			</ng-container>

			<ng-container matColumnDef="bookTitle">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
				<td mat-cell *matCellDef="let rental">{{rental.book.bookDetails.title}}</td>
			</ng-container>

			<ng-container matColumnDef="status">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
				<td mat-cell *matCellDef="let borrowing"
					[ngClass]="{'st-available':borrowing.book.status.id === 1, 'st-awaiting':borrowing.book.status.id === 2,'st-borrowed':borrowing.book.status.id === 3,'st-reserved':borrowing.book.status.id === 4,'st-unavailable':borrowing.book.status.id === 5 }">
					{{borrowing.book.status.statusName}}
				</td>
			</ng-container>

			<ng-container matColumnDef="rentalDate">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Rental date</th>
				<td mat-cell *matCellDef="let borrowing">{{borrowing.rentalDate | date:'dd.MM.yy hh:mm'}}</td>
			</ng-container>

			<ng-container matColumnDef="returnDate">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Return date</th>
				<td mat-cell *matCellDef="let borrowing">{{borrowing.returnDate | date:'dd.MM.yy hh:mm'}}</td>
			</ng-container>

			<ng-container matColumnDef="location">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
				<td mat-cell *matCellDef="let borrowing"><b>{{borrowing.owners[0].firstName}} {{borrowing.owners[0].lastName}}</b>
					at {{borrowing.owners[0].address.city}} {{borrowing.owners[0].address.building}}
				</td>
			</ng-container>

			<ng-container matColumnDef="actions">
				<th mat-header-cell *matHeaderCellDef>Actions</th>
				<td mat-cell *matCellDef="let rental">
					<p>
						<button *ngIf="rental.book.status.id == 2" color="warn" mat-button (click)="cancelAwaiting(rental)">
							<mat-icon>close</mat-icon>
							Cancel
						</button>
						<button *ngIf="rental.book.status.id == 3" color="primary" mat-button (click)="prolong(rental)" [disabled]="rental.returnDate > canProlongDate">
							<mat-icon>forward_30</mat-icon>
							Prolong
						</button>
						<button color="primary" mat-button (click)="bookInfo(rental)">
							<mat-icon>info</mat-icon>
							Book info
						</button>
					</p>
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

		</table>
		<app-loading-results [isLoadingResults]="isLoadingResults"></app-loading-results>
	</div>
	<app-nothing-found [nothingFound]="dataSource.filteredData.length < 1"></app-nothing-found>
</div>
