<div class="form-wrapper">
	<div class="form-title">
		<h1>Categories</h1>
	</div>
	<form name="categoriesParams" (ngSubmit)="createCategory(categoryParams)" [formGroup]="categoryParams">
		<div class="form-container">
			<mat-form-field>

				<input formControlName="categoryName"
					   placeholder="Category name"
					   matInput required>
				<mat-error *ngIf="categoryParams.controls.categoryName.hasError">
					<div *ngIf="categoryParams.controls.categoryName.errors?.required">
						Category name is required
					</div>
					<div *ngIf="categoryParams.controls.categoryName.errors?.maxlength">
						The maximum length is 50 characters
					</div>
				</mat-error>
			</mat-form-field>

		</div>
		<div>
			<button mat-raised-button color="primary" [type]="submit">
				Submit
			</button>
			<button class="demo-button" mat-raised-button color="accent" type="button" disabled>
				Demo
			</button>
		</div>

	</form>

</div>

<table mat-table [dataSource]="bookCategories">

	<ng-container matColumnDef="bookCategoryName">
		<th mat-header-cell *matHeaderCellDef>Category name</th>
		<td mat-cell *matCellDef="let category"> {{category.bookCategoryName}}</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedCategoryColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedCategoryColumns"></tr>

</table>