<mat-card class="entity-form">
	<div>
		<h1>Add category</h1>

		<form name="categoriesParams" (ngSubmit)="createCategory(categoryParams)" [formGroup]="categoryParams">
			<mat-form-field class="element-in-table">

				<input formControlName="categoryName"
					   placeholder="Category name"
					   matInput required>
				<mat-error *ngIf="categoryParams.controls.categoryName.hasError">
					<div *ngIf="categoryParams.controls.categoryName.errors?.required">
						Category name is required
					</div>
					<div *ngIf="categoryParams.controls.categoryName.errors?.maxlength">
						The maximum length is 50 characters
					</div>
				</mat-error>
			</mat-form-field>

			<div>
				<button mat-raised-button color="primary" [type]="submit" >
					Create new category
				</button>
			</div>

		</form>
	</div>
</mat-card>
<mat-divider></mat-divider>
<table mat-table [dataSource]="bookCategories">

	<ng-container matColumnDef="id">
		<th mat-header-cell *matHeaderCellDef> Id </th>
		<td mat-cell *matCellDef="let category"> {{category.id}} </td>
	</ng-container>

	<ng-container matColumnDef="bookCategoryName">
		<th mat-header-cell *matHeaderCellDef> Name </th>
		<td mat-cell *matCellDef="let category"> {{category.bookCategoryName}} </td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedCategoryColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedCategoryColumns"></tr>

</table>